// Breakpoints
$bp-xs-width: 480px;
$bp-sm-width: 568px;
$bp-md-width: 768px;
$bp-lg-width: 1024px;
$bp-xl-width: 1280px;
$site-max-width: $bp-xl-width;

// Font Family
$primary-font: 'Open Sans Condensed', sans-serif;
$secondary-font: 'Josefin Slab', serif;

// SF Color Pallete
$base-color: #2D85FF;
$dark-gray-color: #203E4A;
$light-gray-color: #F5F9FF;
$white-color: #FDFDFD;
$black-color: #000000;
$accent-color: #FF2419;
