.portfolio {
    text-align: center;
    font-size: 1rem;
    .project {
        width: 30%;
        margin: .5em .05em;
        padding: 10px 5px;
        display: inline-block;
        vertical-align: top;
        box-shadow: 1px 1px 5px #999;
        border-radius: 5px;
        overflow: hidden;
        @media screen and (max-width: $bp-md-width) {width: 47%;}
        @media screen and (max-width: $bp-xs-width) {width: 100%;}
        &:hover {
            box-shadow: 1px 1px 5px #333;
        }
        &-title {
            font-weight: bold;
        }
        &-description {
            font-size: .9em;
            line-height: 1.5;
            margin: 10px 5px;
        }
    }
}
