---
layout: default
---

<div class="blogpost">
    <p class="bp-meta">{{ page.date | date_to_string }}</p>
    {{ content }}
    <!-- post nav -->
    <div class="bp-nav">
      {% if page.next %}
      <li><a href="{{ page.next.url }}">&laquo;&laquo;&laquo; Next : {{ page.next.title }}</a></li>
      {% endif %}
      {% if page.previous %}
      <li><a href="{{ page.previous.url }}">Previous : {{ page.previous.title }} &raquo;&raquo;&raquo;</a></li>
      {% endif %}
    </div>
    {% if page.comments %}
    <!-- disquss -->
    <hr class="sf-hr">
    <div class="disqus">
        <h3>Let's Disquss!!</h3>
        {% include disqus.html %}
    </div>
    {% endif %}
</div>
